.form {
  &__group {
    display: block;
    margin-bottom: 1.5rem;

    &:not(:last-child) {
    }
  }

  &__label {
    text-transform: capitalize;
    color: $color-text;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid #d7d3d3;
    border-radius: 3px;
    padding: 0.9rem 0.8rem;
    font-size: 1.6rem;
    color: $color-text;

    &:focus {
      outline: none;
      border: 1px solid $color-orange;
    }
  }
}
