*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  font-size: 1.6rem; }

a {
  text-decoration: none;
  color: #e67e22;
  transition: all 0.2s; }
  a:hover, a:active {
    color: #d5741e; }

.heading-secondary {
  color: #555;
  font-weight: 400; }

@keyframes animatetop {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.u-display-none {
  display: none; }

.u-center-content {
  text-align: center; }

.u-right-content {
  text-align: right; }

.u-margin-top-xs {
  margin-top: 0.5rem; }

.u-margin-top-sm {
  margin-top: 1rem; }

.u-margin-top-md {
  margin-top: 1.5rem; }

.u-margin-top-lg {
  margin-top: 2rem; }

.button {
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: #555;
  border-radius: 3px;
  border: 1px solid #e67e22;
  cursor: pointer;
  transition: all 0.1s;
  font-size: 1.6rem; }
  .button:hover, .button:active {
    color: #fff;
    background: #e67e22; }
  .button--full {
    color: #fff;
    background: #e67e22; }
    .button--full:active, .button--full:hover {
      background: #d5741e;
      border: 1px solid #d5741e; }

.modal {
  position: fixed;
  z-index: 3000;
  padding: 10rem 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); }

.modal__content {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  max-width: 30%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.46);
  animation-name: animatetop;
  animation-duration: 0.3s; }
  .modal__content--small {
    max-width: 25%; }
  @media only screen and (max-width: 1460px) {
    .modal__content {
      max-width: 50%; } }
  @media only screen and (max-width: 62.5em) {
    .modal__content {
      max-width: 70%; } }
  @media only screen and (max-width: 51.25em) {
    .modal__content {
      max-width: 80%; } }
  @media only screen and (max-width: 38.75em) {
    .modal__content {
      max-width: 95%; } }

.modal__header {
  padding: 1.2rem 1.8rem;
  background: #fcfcfc;
  border-bottom: 1px solid #e5e5e5; }
  .modal__header h3 {
    margin: 0;
    text-transform: none; }

.modal__body {
  padding: 1.6rem 1.8rem;
  color: #555; }
  .modal__body p {
    font-size: 1.6rem; }
  .modal__body button {
    padding: 0.7rem 2.5rem;
    margin-bottom: 0;
    margin-top: 0; }

.modal__close {
  float: right;
  color: #bebebe;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  transition: all 0.2s;
  line-height: 1.2; }
  .modal__close:hover, .modal__close:visited {
    color: #919191; }

.modal__footer--one-button {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
  display: block; }
  .modal__footer--one-button button {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    width: 40%; }

.form__group {
  display: block;
  margin-bottom: 1.5rem; }

.form__label {
  text-transform: capitalize;
  color: #555; }

.form__input {
  display: block;
  width: 100%;
  border: 1px solid #d7d3d3;
  border-radius: 3px;
  padding: 0.9rem 0.8rem;
  font-size: 1.6rem;
  color: #555; }
  .form__input:focus {
    outline: none;
    border: 1px solid #e67e22; }

.notification {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1rem 2rem;
  width: 100%;
  margin: 1rem 0 3rem 0;
  box-shadow: 0.5rem 0 0.5rem rgba(0, 0, 0, 0.1); }
  .notification__text {
    color: #525151;
    padding-top: 0.2rem; }
  .notification__actions {
    text-align: right;
    padding: 1rem 0; }
    .notification__actions button {
      margin-left: 1rem; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 6.4rem;
  height: 1rem; }

.lds-ellipsis div {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #555;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.loading-modal {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6); }
  .loading-modal__content {
    padding: 1rem 2rem;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.alert {
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #fff;
  display: none; }
  .alert--error {
    background-color: #e74c3c;
    display: flex;
    align-items: center; }
  .alert--success {
    background-color: #2ecc71;
    display: flex;
    align-items: center; }
  .alert__dismiss {
    font-size: 1.6rem;
    margin-left: auto;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer; }
    .alert__dismiss:hover, .alert__dismiss:focus {
      outline: none;
      color: #cecece; }

.navigation {
  padding: 1rem;
  color: #555;
  border-bottom: 1px solid #eee;
  display: block;
  width: 100%;
  height: 4.8rem;
  top: 0;
  position: fixed;
  background: #fff; }
  .navigation::after {
    content: "";
    clear: both;
    display: table; }
  .navigation__right {
    float: right; }
  .navigation__left {
    float: left; }
  .navigation__brand {
    display: inline-block;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px; }
    .navigation__brand a {
      text-decoration: none;
      color: #555; }
  .navigation__item {
    display: inline-block;
    margin-right: 2rem; }
  .navigation__item--offer {
    font-style: italic; }

.navigation-message {
  background: #181831;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  margin-top: 4.8rem; }
  .navigation-message span {
    display: inline-block; }
  .navigation-message__bold {
    border-radius: 500px;
    width: 3.5rem;
    text-align: center;
    font-weight: bold;
    height: 3.5rem;
    font-size: 2rem;
    background: #fff;
    color: #181831;
    margin-right: 1rem; }

.sidebar__wrapper {
  min-width: 22rem; }

.sidebar {
  position: fixed;
  left: 0;
  top: 4.7rem;
  height: 100%;
  width: 22rem;
  background-color: #202a32;
  overflow-x: hidden; }
  .sidebar__item.sidebar__item--active a {
    color: #202a32;
    background: #fff; }
    .sidebar__item.sidebar__item--active a:hover {
      color: #202a32;
      background: #fff; }
  .sidebar__item {
    display: block;
    padding: 2rem 0;
    margin: 1rem 0;
    border-right: 1px solid #202a32;
    border-left: 1px solid #202a32; }
    .sidebar__item:last-child {
      margin-bottom: 4rem; }
    .sidebar__item a {
      display: flex;
      padding: 0.9rem 3rem;
      color: #fff; }
      .sidebar__item a i {
        font-size: 2.5rem;
        margin-right: 1.5rem; }
      .sidebar__item a:hover {
        background-color: rgba(255, 255, 255, 0.1); }

#profile {
  display: flex; }

.profile-content {
  margin-top: 4.8rem;
  padding: 4rem 19rem;
  width: 100%; }
